body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.jumpEffect {
    transition: 1s ease-in-out;
    animation: jump 1.5s ease 0s infinite normal ;
}


@keyframes jump {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}


